In [2]:
from pymatgen import core
import numpy as np
import sys
import nglview as nv
from pymatgen.transformations.standard_transformations import OrderDisorderedStructureTransformation
from pymatgen.transformations.standard_transformations import PartialRemoveSpecieTransformation
from pymatgen.io.cif import CifParser
from scipy.spatial.distance import cdist
import pandas as pd

In [4]:
grouped = df.groupby('sg_number')['codid'].count()

# Plot the distribution
plt.figure(figsize=(10,6))
grouped.plot(kind='bar')
plt.title('Distribution of codid between different space group numbers')
plt.xlabel('Space Group Number')
plt.ylabel('Count of codid')
plt.ylim(0, 25)
plt.show()

NGLWidget()

In [12]:
df.head()

,codid,sg_number,reduced_formula,lattice_angle_alpha,lattice_angle_beta,lattice_angle_gamma,lattice_param_a,lattice_param_b,lattice_param_c,volume
0,2241191,2,Fe2H12C14(SO2)3,88.092,78.668,76.559,9.3619,9.7681,10.6249,926.511545
1,1001716,123,Sr2Tl0.8Cu1Mo0.2O5,90.000,90.000,90.000,3.7511,3.7511,8.9390,125.778445
2,7110529,2,H36RuC18Se6S2(OF)6,106.530,107.369,91.648,8.7056,8.8436,11.6692,815.625174
3,1518178,2,H15C22NO2,83.374,87.099,87.095,8.4366,8.8120,11.1014,817.914852
4,2238873,2,Hg2H15C14SI2N2ClO,70.030,76.779,79.362,8.5795,9.8373,13.6999,1050.741355

In [13]:
# Define the mapping dictionary
bravais_lattice_mapping = {
    range(1, 3): 'Triclinic',
    range(3, 16): 'Monoclinic',
    range(16, 75): 'Orthorhombic',
    range(75, 143): 'Tetragonal',
    range(143, 168): 'Trigonal',
    range(168, 195): 'Hexagonal',
    range(195, 231): 'Cubic'
}

# Function to map space group number to Bravais lattice
def map_to_bravais(sg_number):
    for key in bravais_lattice_mapping:
        if sg_number in key:
            return bravais_lattice_mapping[key]
    return 'Unknown'

#add new column to df

# Apply the mapping to the 'sg_number' column
df['sg_bravais'] = df['sg_number'].apply(map_to_bravais)

# Now 'sg_number' column contains Bravais lattices instead of space group numbers

In [15]:
df.head()

,codid,sg_number,reduced_formula,lattice_angle_alpha,lattice_angle_beta,lattice_angle_gamma,lattice_param_a,lattice_param_b,lattice_param_c,volume,sg_bravais
0,2241191,2,Fe2H12C14(SO2)3,88.092,78.668,76.559,9.3619,9.7681,10.6249,926.511545,Triclinic
1,1001716,123,Sr2Tl0.8Cu1Mo0.2O5,90.000,90.000,90.000,3.7511,3.7511,8.9390,125.778445,Tetragonal
2,7110529,2,H36RuC18Se6S2(OF)6,106.530,107.369,91.648,8.7056,8.8436,11.6692,815.625174,Triclinic
3,1518178,2,H15C22NO2,83.374,87.099,87.095,8.4366,8.8120,11.1014,817.914852,Triclinic
4,2238873,2,Hg2H15C14SI2N2ClO,70.030,76.779,79.362,8.5795,9.8373,13.6999,1050.741355,Triclinic